h1 {
  font-size: 45px;
}

.botao {
  color: white;
  background-color: rgb(9, 9, 134);
  cursor: pointer;
  border-radius: 20px;
  margin-left: 5px;
  width: 100px;
}

form {
  width: 100px;
}

input {
  width: 800px;
}

#idade {
  width: 100px;
}

#email {
  width: 200px;
}

#telefone {
  width: 200px;
}

#nome,
#sobrenome {
  width: 300px;
}
